@{
    Layout = "_Layout";
}

<h4>@ViewBag.Message</h4>

@if (ViewBag.UserId != null)
{
    <form  method="get" asp-route="ViewBag.UserId.ToString()/orders">
        <button>К заказам</button>
    </form>
        
    <li><a asp-area="" asp-controller="Main" asp-action="GetOrders">Orders</a></li>
}