@{
    Layout = "_Layout";
}

<h4>@ViewBag.Message</h4>

@if (ViewBag.UserId != null)
{
    <input type="hidden" name="userid" value=@ViewBag.UserId />
    <input type="submit" value="Добавить">

    <form method="get" action="@ViewBag.UserId.ToString()/orders">
        <button>К заказам</button>
    </form>
    <form method="get" action="@ViewBag.UserId.ToString()/goods">
        <button>К товарам</button>
    </form>
}

