@{
    Layout = "_Layout";
}

<h4>@ViewBag.Message</h4>

@if (ViewBag.UserId != null && ViewBag.OrderId != null)
{
    <form method="get" action="/@ViewBag.UserId.ToString()/orders" >
        <input type="submit" value="To Orders">
    </form>

    <form method="get" action="/@ViewBag.UserId.ToString()/info/@ViewBag.OrderId.ToString()">
        <input type="submit" value="Return to order @ViewBag.OrderId.ToString()">
    </form>
}